<div class="card">
  <div class="card-img">

    <img
      class="card-img"
      src="https://githubanotaai.github.io/frontend-interview-mock-data/assets/img-test-01.jpg"
      alt="iamge card"
    />
    <p class="chip-type">Paisagem</p>
    <div class="delete">
      <img src="../../../assets/icons/close.svg" alt="close" />
    </div>
  </div>
  <div class="card-content">
    <h2 class="card-heading">Árvore</h2>
    <p class="card-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting Lorem Ipsum is simply dummy text
      of the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into
      electronic typesetting.
    </p>
  </div>
</div>
