@import '../../../assets/colors.scss';

$widthCard: 30%;
$radius: 6px;

.card {
  width: min-content;
  height: 20em;

  margin-bottom: 30px;
	box-shadow: 0px 10px 28px -3px $shadow;
	border-radius: $radius;
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: pointer;

  &-img {
    width: 12em;
    height: 8em;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    object-fit: cover;

    .delete
    {
      position: relative;
      bottom: 9em;
      left: 92%;

      width: 15px;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      padding: 5px;
      transition: transform 0.3s ease;
      transform-origin: center;

      img {
        transition: transform 0.3s ease;
        transform-origin: center;
      }

      &:hover {
        border: 1px solid $black;
        transform: scale(1.1);

        img {
          cursor: pointer;
          filter: invert(32%) sepia(100%) saturate(7473%) hue-rotate(315deg) brightness(98%) contrast(99%);
          transform: rotate(-90deg);
        }
      }
    }

    .chip-type {
      display: flex;
      flex-wrap: nowrap;
      margin-top: -40px;
      width: inherit;
      justify-content: flex-end;
    }
  }

  &-content {
    padding: 0 16px;
  }

  &-heading {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: -5px;
    text-wrap: nowrap;
    margin-top: 5px;
  }

  &-text {
    display: -webkit-box;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }

  &:hover {
    transform: scale(1.04);
  }
}

.chip
{
  background-color: #000000;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  margin-right: 3px;
}
.paisagem {
  background-color: #0358F9 !important;
}

.flor {
  background-color: #FC0447 !important;
}

.pizza {
  background-color: #958A04 !important;
}
