<div class="card">
  <div class="card-img">

    <img
      class="card-img"
      [src]="item?.img"
      alt="iamge card"
    />
    <p class="chip-type {{ defineClassChip(item?.type || 1) }}">{{defineType( item?.type || 1 )}}</p> <!-- TODO: Find Way to better fix chip in right -->
    <div class="delete" (click)="handleDeleteItem()">
      <img src="../../../assets/icons/close.svg" alt="close" />
    </div>
  </div>
  <div class="card-content">
    <h2 class="card-heading">{{item?.title}}</h2>
    <p class="card-text">{{item?.description}}</p>
  </div>
</div>
