<div class="card">
  <div class="card-img">

    <img
      class="card-img"
      [src]="item?.img"
      alt="image card"
    />
    <div class="chip-type">
      <p class="chip {{ defineClassChip(item?.type || 1) }}">{{defineType( item?.type || 1 )}}</p>
    </div>
    <div class="delete" (click)="handleDeleteItem()">
      <img src="assets/icons/close.svg" alt="close" />
    </div>
  </div>
  <div class="card-content">
    <h2 class="card-heading">{{item?.title}}</h2>
    <p class="card-text">{{item?.description}}</p>
  </div>
</div>
