@import '../../../assets/colors.scss';

.container
{
  background-color: $white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;

  filter: drop-shadow(5px 1px 6px $shadow);

  img {
    width: 60px;
  }

  &-titles {
    .title {
      margin: 0;
      font-weight: 500;
    }

    .author {
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: italic;
      color: $gray;
      width: 80%;
    }

    .author::before {
      content: "";
      flex-grow: 0.5;
      border-bottom: 1px solid $gray;
      margin-right: 5px;
    }

    .author::after {
      content: "";
      flex-grow: 2;
      border-bottom: 1px solid $gray;
      margin-left: 5px;
    }
  }
}
