.main-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 85vh;

  &-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95vw;
  }
}
