<app-header />
<div class="main-container">
  <app-search-input (search)="searchItem($event)" />

  @if (loading) {
    <p>loading...</p>
  } @else {
    <div class="main-container-list">
      @for (item of (enableFilter ? filteredData : data); track $index) {
        <app-card
          [attr.id]="item.id + '_' + $index"
          [item]="item"
          (deleteItem)="deleteItem($event)"/>
      }
      @empty {
        <p>Sorry about that, no result</p>
      }
    </div>
  }
</div>

<app-toast></app-toast>
