// Local for Variables

$background: #EFEFEF;

$gray: #ccc;
$blue: #3694d8;
$white: #ffffff;
$black: #000000;
$shadow: #5e5e5e71;

// Chips
$paisagem: #0358F9;
$flor: #FC0447;
$pizza: #958A04;

// For Toast
$dark-shadow: #00000014;
$green: #47d864;
$dark-blue: #2f86eb;
$yellow: #ffc021;
$red: #ff623d;
$deep-gray: #333;
$dark-gray: #888;
